<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
<table border="2">
    <tbody>
    <tr style="font-weight: 600">
        <td> MODEL </td>
        <td> SERIES </td>
        <td> YEAR </td>
    </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getColor()}"></td>
            <td th:text="${car.getYear()}"></td>
        </tr>
    </tbody>
</table>

</div>
</body>
</html>